body {
    font-family: 'Noto Serif JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #47C0C0;
    color: #000;
}
.login-page{
    background-image: url(../image/login.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .3);
    display: block;
    z-index: 4;
    justify-content: space-between;
    display: flex;
}
header .logo{
    display: block;
    padding: 20px;
    width: 400px;
}
header .logo img{
    display: block;
    width: 100%;
}
.btn-logout{
    padding: 10px 20px;
    font-size: 14px;
    line-height: 30px;
    color: #000;
    background-color: aqua;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0 10px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.btn-logout:hover{
    background-color: #066f86;
    color: #fff;
}
main{
    display: block;
    overflow: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 92px;
    margin: 0 auto;
    max-width: 1000px;
}
.login-page main{
    display: flex;
    align-items: center;
}
.login-section{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: block;
}
.login-section h2{
    background: #E3EBF7;
    text-align: center;
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 30px;
    color: #285192;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 6px;
}
.login-section .row{
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.login-section .row:last-child{margin: 0;}
.login-section input[type='text'],
.login-section input[type='password'] {
    display: block;
    padding: 10px;
    border-radius: 6px;
    padding: 10px;
    border-radius: 6px;
    background-color: fff;
    border-color: #285192;
    width: 100%;
    box-sizing: border-box;
}
.login-section input[type='submit'] {
    display: block;
    margin: 0 auto;
    background: #3B71CA;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .5);
    box-sizing: border-box;
}
.main-section{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    margin: 0 10px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    min-height: calc(100vh - 110px);
    box-sizing: border-box;
}
.list{
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.list li{
    width: calc(100% / 3);
    padding: 0 10px 10px;
    box-sizing: border-box;
    z-index: 1;
}
.box{
    position: relative;
    background-color: #47C0C0;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.add-project{
    display: block;
    background: #3B71CA;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.open-box{
    display: block;
    cursor: pointer;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    margin: -10px;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    padding: 10px;
    text-transform: uppercase;
    z-index: 3;
}
.open-box:after{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    right: 7px;
    top: 7px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.0259%2014.8543L13.4401%2016.2686L17.6828%2012.0259L13.4401%207.78327L12.0259%209.19749L13.8543%2011.0259H6.3172V13.0259H13.8543L12.0259%2014.8543Z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5%201C2.79086%201%201%202.79086%201%205V19C1%2021.2091%202.79086%2023%205%2023H19C21.2091%2023%2023%2021.2091%2023%2019V5C23%202.79086%2021.2091%201%2019%201H5ZM3%205V19C3%2020.1046%203.89543%2021%205%2021H19C20.1046%2021%2021%2020.1046%2021%2019V5C21%203.89543%2020.1046%203%2019%203H5C3.89543%203%203%203.89543%203%205Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E');
    background-size: 100% 100%;
}
.list li.active .open-box:after,
.open-box:hover:after{
    transform: rotate(90deg);
}
.holder{
    display: none;
    position: absolute;
    left: 0;
    right: -2px;
    top: 0;
    z-index: 2;
    background-color: #47C0C0;
    border-radius: 6px;
    padding: 48px 10px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.list li.active .holder{
    display: block;
}
.list li.active{z-index: 3;}
.list h3{
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
.list p{
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.download-link{
    display: block;
    background: #3B71CA;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
}
.download-link:after{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    right: 7px;
    top: 7px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2232%22%20height%3D%2234%22%20viewBox%3D%220%200%2032%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.0846%202.41668C14.0846%201.26608%2014.9428%200.333344%2016.0013%200.333344C17.0598%200.333344%2017.918%201.26608%2017.918%202.41668V17.3287L24.1333%2010.5729L26.8438%2013.5192L16.0015%2025.3043L5.15922%2013.5192L7.8698%2010.5729L14.0846%2017.3282V2.41668Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M0.667969%2021.1667H4.5013V29.5H27.5013V21.1667H31.3346V29.5C31.3346%2031.8012%2029.6184%2033.6667%2027.5013%2033.6667H4.5013C2.38421%2033.6667%200.667969%2031.8012%200.667969%2029.5V21.1667Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
    background-size: 100% 100%;
}
.update-link{
    display: block;
    background: #10B00C;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    position: relative;
}
.update-link:after{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    right: 7px;
    top: 7px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M35.4378%203.82147C34.787%203.17059%2033.7317%203.17059%2033.0808%203.82147L31.6269%205.27539C29.7683%204.38755%2027.4749%204.71333%2025.9355%206.25272L8.25784%2023.9304L17.6859%2033.3585L35.3636%2015.6808C36.903%2014.1414%2037.2288%2011.848%2036.3409%209.98944L37.7949%208.53551C38.4457%207.88464%2038.4457%206.82936%2037.7949%206.17849L35.4378%203.82147ZM28.3245%2018.0059L17.6859%2028.6444L12.9719%2023.9304L23.6105%2013.2918L28.3245%2018.0059ZM31.355%2014.9754L33.0066%2013.3238C33.6575%2012.6729%2033.6575%2011.6176%2033.0066%2010.9668L30.6496%208.60975C29.9987%207.95887%2028.9434%207.95887%2028.2925%208.60975L26.6409%2010.2614L31.355%2014.9754Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M3.33203%2038.2503L6.86821%2025.2861L16.2957%2034.7148L3.33203%2038.2503Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
    background-size: 100% 100%;
}
.btn-nev-person{
    display: block;
    background: #3B71CA;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    position: relative;
    width: calc(100% / 3);
    margin: 0 0 0 auto;
}
.btn-nev-person:after{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    right: 7px;
    top: 7px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9%2011C11.2091%2011%2013%209.20914%2013%207C13%204.79086%2011.2091%203%209%203C6.79086%203%205%204.79086%205%207C5%209.20914%206.79086%2011%209%2011ZM9%209C10.1046%209%2011%208.10457%2011%207C11%205.89543%2010.1046%205%209%205C7.89543%205%207%205.89543%207%207C7%208.10457%207.89543%209%209%209Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M13%2014C13.5523%2014%2014%2014.4477%2014%2015V21H16V15C16%2013.3431%2014.6569%2012%2013%2012H5C3.34315%2012%202%2013.3431%202%2015V21H4V15C4%2014.4477%204.44772%2014%205%2014H13Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M18%207H20V9H22V11H20V13H18V11H16V9H18V7Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
    background-size: 100% 100%;
}
.frame{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, .5);
    display: none;
}
.popup{min-height: 330px;}
.frame.active{display: block;}
.popup,
.popup-update{
    position: fixed;
    z-index: 6;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    padding: 20px;
    width: 500px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    display: none;
}
.popup.active,
.popup-update.active{display: block;}
.popup .row,
.popup-update .row{margin-bottom: 20px;}
.popup input,
.popup-update input{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border-color: #47C0C0;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
.popup textarea,
.popup-update textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #47C0C0;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
.btn-col{
    display: flex;
    justify-content: space-between;
}
.popup-update input.save01,
.popup input.save01{
    display: block;
    background: #3B71CA;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    position: relative;
    width: 40%;
    border: 0;
    margin: 0;
}
.popup .close-popup{
    display: block;
    background: #E3EBF7;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #285192;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    position: relative;
    width: 40%;
    border: 0;
}
.popup h2{
    margin: 0 0 20px;
    background: #066f86;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.area-col{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.area-col strong{
    width: 50%;
    display: block;
    overflow-x: auto;
}
.area-col span{
    width: 40%;
    display: block;
    overflow-x: auto;
}
.area-col .updatemail{
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}
.row-col{
    display: flex;
    justify-content: space-between;
}
.row-col .row{width: 48%;}
.btn-line{
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px;
    background-color: #285192;
   margin-left: 4px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.update-line{
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M35.4378%203.82147C34.787%203.17059%2033.7317%203.17059%2033.0808%203.82147L31.6269%205.27539C29.7683%204.38755%2027.4749%204.71333%2025.9355%206.25272L8.25784%2023.9304L17.6859%2033.3585L35.3636%2015.6808C36.903%2014.1414%2037.2288%2011.848%2036.3409%209.98944L37.7949%208.53551C38.4457%207.88464%2038.4457%206.82936%2037.7949%206.17849L35.4378%203.82147ZM28.3245%2018.0059L17.6859%2028.6444L12.9719%2023.9304L23.6105%2013.2918L28.3245%2018.0059ZM31.355%2014.9754L33.0066%2013.3238C33.6575%2012.6729%2033.6575%2011.6176%2033.0066%2010.9668L30.6496%208.60975C29.9987%207.95887%2028.9434%207.95887%2028.2925%208.60975L26.6409%2010.2614L31.355%2014.9754Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M3.33203%2038.2503L6.86821%2025.2861L16.2957%2034.7148L3.33203%2038.2503Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
}
.delete-line{
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M17%205V4C17%202.89543%2016.1046%202%2015%202H9C7.89543%202%207%202.89543%207%204V5H4C3.44772%205%203%205.44772%203%206C3%206.55228%203.44772%207%204%207H5V18C5%2019.6569%206.34315%2021%208%2021H16C17.6569%2021%2019%2019.6569%2019%2018V7H20C20.5523%207%2021%206.55228%2021%206C21%205.44772%2020.5523%205%2020%205H17ZM15%204H9V5H15V4ZM17%207H7V18C7%2018.5523%207.44772%2019%208%2019H16C16.5523%2019%2017%2018.5523%2017%2018V7Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M9%209H11V17H9V9Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M13%209H15V17H13V9Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E')
}
.row-col .row a{
    width: 100%;
    box-sizing: border-box;
}